{% extends 'base.html' %}

{% block html_header %}

<script src="/static/js/del_btn.js"></script>
<script src="/static/js/fix_btn.js"></script>
<script src="/static/js/like_btn.js"></script>
<script src="/static/js/list_btn.js"></script>

<script src="/static/css/style.css"></script>

{% endblock %}

{% block html_body %}

<div class="container">

    <h1>글 내용보기</h1>
    <p></p>
    <div>
        글 번호 : {{ board_objects.id }}
    </div>
    <p></p>
    <div>
        글 제목 : {{ board_objects.b_title }}
    </div>
    <p></p>
    <div class="row">
        <div class="col-6">작성자 : {{ board_objects.b_author }}</div>
        <div class="col-6">작성일 : {{ board_objects.b_date }}</div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-6">글 내용</div>
        <div class="col-6">좋아요 : {{ board_objects.b_like_count }}</div>
    </div>
    <p></p>
    <textarea readonly class="container-fluid">{{ board_objects.b_content }}</textarea>
    <div style="float:right">
        <button type="button"
                class="btn btn-success"
                id="list_btn">목록으로</button>
        <button type="button"
                class="btn btn-info"
                id="fix_btn"
                data-pageid={{ board_objects.id }}>수정하기</button>
        <button type="button"
                class="btn btn-danger"
                id="del_btn"
                data-b_del_url="{% url 'bbs:b_delete' board_objects.id  %}">삭제하기</button>
        <button type="button"
                class="btn btn-warning"
                id="like_btn">좋아요</button>
    </div>
    <p></p>
    <h6>댓글</h6>
    <div class="container" style="background-color: antiquewhite">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col-2">작성자</th>
                    <th scope="col-8">댓글내용</th>
                    <th scope="col">삭제</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ comment.id }}</th>
                    <td>{{ comment.c_author }}</td>
                    <td>{{ comment.c_content }}</td>
                    <td><button type="button"
                                class="btn btn-danger"
                                id="comment_del_btn"
                                data-c_del_url="{% url 'bbs:c_delete' comment.id  %}">삭제</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}