{% extends 'base.html' %}
{% load bootstrap4 %}
{% block html_body %}
<script src="/static/js/fix_ok_btn.js"></script>
<div class="container">

    <h1>글 수정하기</h1>

    <form {% comment %}action={% url 'bbs:b_list' %}{% comment %}action = "" : 현재 페이지로 request를 진행{% endcomment %}
          method="post">
        {% csrf_token %}
        <p></p>
        <div>
            글 번호 : {{ board_objects.id }}
        </div>
        <p></p>
        <div class="row">
            <div class="col-6">작성일 : {{ board_objects.b_date }}</div>
            <div class="col-6">좋아요 : {{ board_objects.b_like_count }}</div>
        </div>
        <p></p>
        {% bootstrap_form board_form %}
        <div align="right">
            <button type="submit"
                    class="btn btn-info">수정하기</button>
            <button type="reset"
                    class="btn btn-danger"
                    onclick="history.back()">취소</button>
        </div>
    </form>
</div>
{% endblock %}